<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785906972525-67e1f1sk9bvl8e38mmpce4qp2rk3preb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785906972525-67e1f1sk9bvl8e38mmpce4qp2rk3preb</string>
	<key>API_KEY</key>
	<string>AIzaSyA8miQH4tsLLZKHZ_iWNR2miQQ47azHWmc</string>
	<key>GCM_SENDER_ID</key>
	<string>785906972525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connection.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>connection-b1cff</string>
	<key>STORAGE_BUCKET</key>
	<string>connection-b1cff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785906972525:ios:26e563f3b2d42cab06cc64</string>
</dict>
</plist>